button {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid transparent;
  background-color : transparent;
  margin-left: -3%;
}
.formatted-time{
margin-top: -1.3%;
margin-left: 1%;
color: #9E9E9E;
}
